* {
  margin:0;
  padding:0;
}

.choixClasse {
  display: flex;
}
.classeHS > img {
  width:50px;
}


.carteAffichage {
  display:flex;
  flex-wrap:wrap
}
.carte > img {
  width:200px;
}