/* ---------- STYLE GENERAUX ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e7d8;
}

h1 {
  text-align: center;
}

.deck ::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/* ---------- CHOIX DE LA CLASSE ----------*/
.choixClasse {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.classeHS > img {
  width: 62px;
  border-radius: 150px;
  border: 4px solid black;
  margin:5px;
}

.classeHS > img:hover {
  border: 4px solid red;
}

/*---------- BARRE DE TRI ----------*/
.barreTri {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.barreTri label {
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.barreTri > * {
  display: flex;
  flex-direction: column;
}

/*---------- CARTES + DECK ----------*/
.creation {
  display: flex;
  flex-wrap: wrap;
}

/*---------- CARTES ----------*/
.carteAffichage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.carte > img {
  width: 175px;
}

/*---------- DECK---------- */
.deck {
  background-color: brown;
  margin: 0;
  padding: 0;
  height: fit-content;
  position: sticky;
  top: 20px;
}
/* HEADER DECK*/
.classeCard {
  height: 50px;
  display: flex;
  background: green;
  align-items: center;
  justify-content: space-around;
}

.classeCard p {
  margin: 0;
  padding: 0;
}
/* L'ENSEMBLE DES CARTE DANS DECK */
.deckListe {
  max-height: calc(100vh - 90px);
  overflow: auto;
}

/* CARTE DANS DECK */
.carteListe {
  display: flex;
  background: grey;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 40px;
  margin: 0.2rem 0;
}

.carteListe:hover:before {

  background-image: url("images/gravure.png");
  background-size: 175px 245px;
  position: absolute;
  left:-175px;
  top: 150px;
  width: 175px;
  height: 245px;
  content: "";
}

.carteListe > * {
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
}

.coutMana,
.nbrExemplaire {
  width: 10%;
  color: #eee;
  margin: 0.2rem;
  border-radius: 15%;
}

.coutMana {
  background: navy;
}
.nbrExemplaire {
  background: rgba(0, 0, 0, 0.5);
}
