/* --------------------------------------- STYLE GENERAUX --------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  color: #eee;
}

h1 {
  margin: 1em;
  text-align: center;
  color: #eee;
  font-size: 2.3rem;
}

/* AUGMENTATION TAILLE CONTAINER EN GRAND ECRAN (CONTRER BOOTSTRAP) */
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}

/* STYLISATION BARRE DE SCROLL */
/* Largeur de la barre */
::-webkit-scrollbar {
  width: 15px;
}

.deck ::-webkit-scrollbar,
.carteChoix ::-webkit-scrollbar {
  width: 6px;
}

/* Style de la barre */
::-webkit-scrollbar-thumb {
  background: #e62832;
  border-radius: 10px;
}

.deck ::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: grey;
}

.carteChoix ::-webkit-scrollbar-thumb {
  border-radius: 0;
  /* background: #543926; */
  background: rgb(39, 37, 37);
}

/* POINTEUR CURSEUR  */
.classeHS > img,
select,
.choixClasseCarte,
.carte,
.carteListe {
  cursor: pointer;
}

/* --------------------------------------- CHOIX DE LA CLASSE ---------------------------------------*/
.choixClasse {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none;
}

.classeHS > img {
  width: 80px;
  border-radius: 150px;
  border: 4px solid black;
  margin: 5px;
  opacity: 0.3;
  -webkit-user-drag: none;
}

.classeHS > img:hover {
  border: 4px solid goldenrod;
  opacity: 1;
}

.active > img {
  border: 4px solid green;
  opacity: 1;
}

.active > img:hover {
  border: 4px solid green;
}

/*--------------------------------------- BARRE DE TRI ---------------------------------------*/
.barreTri {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.barreTri label {
  font-weight: bold;
  margin: 1rem 0 0 0;
  font-size: 1.4em;
}

.barreTri > * {
  display: flex;
  flex-direction: column;
}

.barreTri select {
  height: 40px;
  background-color: #eee;
  text-align: center;
}

.barreTri select:focus {
  box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
}

/*--------------------------------------- CARTES + DECK ---------------------------------------*/
.creation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

/*--------------------------------------- CARTES ---------------------------------------*/
/* HEADER LISTE CARTE : CHOIX CARTE CLASSE OU NEUTRE */
.classeDeck,
.neutre {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding:.4em;
  text-align: center;
  user-select: none;
}

.classeDeck {
  background: #3d5a80;
  border-radius: 10px 0 0 0;
}

.classeDeck:hover {
  background:#293d56;
}

.neutre {
  background: #7a542e;
  border-radius: 0 10px 0 0;
}

.neutre:hover {
  background:#382615;
}

.choixClasseCarte {
  display: flex;
  width: 100%;
}

/* LISTE DES CARTES */
.carteAffichage {
  /* background: lightslategray; couleur carte de classe*/
  height: calc(100vh - 90px);
  overflow: auto;
  padding-bottom: 50px;
}
.couleurNeutre {
  background: #937b63;
  border: 5px solid #7a542e;
}

.couleurClasse {
  background: lightslategray;
  border: 5px solid #3d5a80;
}





.boxCard {
  width:95%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  justify-content: space-around;
}

/* Smartphone affichage horizontal */
@media (max-width: 767.98px) {
  .carteAffichage {
    height:50vh;
  }
  .boxCard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 10%;
    height: 200px;
  }
 }

.carte > img {
  width: 200px;
}

.carteChoix {
  margin-bottom: 20px;
}

/* Si plus d'exmplaire pour carte */
.indisponible {
  opacity: 0.3;
  cursor: not-allowed;
}


/*----------------------------- DECK------------------------------ */
.deck {
  margin: 0;
  padding: 0;
  height: fit-content;
}

/* HEADER DECK*/
.classeCard {
  height: 70px;
  display: flex;
  background: firebrick;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

/* Annulation bootstrap */
.classeCard p {
  margin: 0;
  padding: 0;
}

/* L'ENSEMBLE DES CARTE DANS DECK */
.deckListe {
  max-height: calc(100vh - 90px);
  overflow: auto;
  border: 5px solid firebrick;
}

/* CARTE DANS DECK */
.carteListe {
  display: flex;
  background: repeating-linear-gradient(170deg, black, transparent 35px);
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 45px;
  user-select: none;
  font-weight: bold;
}
.couleurLegendaire {
  color:#fdc500;
}
.couleurEpique {
  color:purple;
}
.couleurRare {
  color: #0077b6;
}

/* Carte Survol */
/* .carteListe:hover:before {
  background-image: url("images/gravure.png");
  background-size: 175px 245px;
  position: absolute;
  left: -175px;
  top: 150px;
  width: 175px;
  height: 245px;
  content: "";
} */

/* Stylisation liste des cartes dans deck */
.carteListe > * {
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
}

/* info carte deck */
.coutMana,
.nbrExemplaire {
  width: 10%;
  color: #eee;
  margin: 0.3rem;
  padding: 0.1em;
}

.coutMana {
  background: #0d4059;
  border-radius: 100px;
}

.nbrExemplaire {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 15%;
}

/*----------------------------- FOOTER -----------------------------*/
footer p {
  font-size: 1rem;
  background: #0d4059;
  text-align: center;
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
}